html,
body {
  height: 100%;
}

body {
  max-width: 1152px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: $color-base;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // padding: 85px 0 0 0;
}

.main {
  flex: 1 0 auto;
  // flex: flex-grow flex-shrink flex-basis;
  // Разрешаем расширяться и Запрещаем уменьшаться
}

.footer {
  flex: 0 0 auto;
  // Запрещаем этому блоку расширяться или уменьшаться
  //! вместе с height: 100%; и flex для .wrapper  и .main - прижимает всегда footer к низу страницы (чтобы при отсутствии контента footer не склеивался с header)
}

.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  // Контейнер не на весь экран (с полями и ограничением на больших экранах)
  max-width: 1920px;
  padding: 0 0 0 52px;
  margin: 0 auto;
}

.btn {
  // padding: 14px 24px;
  background-color: $color-button;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &__link {
    font-weight: 700;
    font-size: 16px;
    // line-height: 22px;
    color: #fff;
  }
}

.section {
  margin-bottom: 120px;
}

// Лепесток
// .petal {
//   width: 160px;
//   height: 182px;
//   border: 1px solid rgba(137, 66, 66, 0.2);
//   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
//   border-top-left-radius: 60px;
//   border-bottom-right-radius: 60px;
// }

.name-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  // position: relative;
  &__subtitle {
    padding: 0 12px 0 38px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: $color-title;
    position: relative;
  }
  &__subtitle::before {
    content: "";
    background-image: url("../img/flover-icon.svg");
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: $color-section-name;
    position: relative;
  }
  &__title::before {
    content: "";
    border: 1px solid #000000;
    position: absolute;
    left: -316px;
    right: 0;
    bottom: 50px;
    // width: 316px;
    width: 83%;
    opacity: 0.7;
    // height: 1px;
    // color: #000000;
  }
}
