html,
body {
  height: 100%;
}

body {
  // max-width: 1152px;
  // font-size: 24px;
  // line-height: 33px;
  margin: 0 auto;
  font-size: calc(18px + 6 * (100vw / 1152));
  line-height: calc(27px + 6 * (100vw / 1152));
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: $color-base;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: -100;
}
.overlay {
  position: absolute;
  top: -200%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
  z-index: 18;
  opacity: 0;
}

.overlay.active {
  top: 0;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  opacity: 1;
}
.main {
  flex: 1 0 auto;
  // flex: flex-grow flex-shrink flex-basis;
  // Разрешаем расширяться и Запрещаем уменьшаться
}

.footer {
  flex: 0 0 auto;
  // Запрещаем этому блоку расширяться или уменьшаться
  //! вместе с height: 100%; и flex для .wrapper  и .main - прижимает всегда footer к низу страницы (чтобы при отсутствии контента footer не склеивался с header)
}

.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.container-fluid {
  // Контейнер не на весь экран (с полями и ограничением на больших экранах)
  max-width: 1920px;
  padding: 0 0 0 52px;
  margin: 0 auto;
}

//? -- btn --
.btn {
  background-color: $color-button;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    transform: scale(0.9);
  }
  &__link {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
  }
}

.section {
  position: relative;
  padding-top: 120px;
}

//? -- Name-section --
.name-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;

  &__subtitle {
    padding: 0 12px 0 38px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: $color-title;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
  }
  &__subtitle::before {
    content: "";
    background-image: url("../img/flover-icon.svg");
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }
  &__line {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 20%;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: $color-section-name;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 7px;
  }
}

//? -- btn-transparent --
.btn-transparent {
  background-color: transparent;
  border: 1px solid $color-title;
  text-align: center;
  cursor: pointer;
}
.btn-transparent:hover {
  opacity: 0.5;
}
.btn-transparent:active {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

//? -- shape --
.shape,
.shape-invert {
  border: none;
  max-width: 280px;
  max-height: 400px;
  z-index: -5;
}

.shape {
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
}

.shape-invert {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

//? -- back-to-top --
.btn-up {
  display: block;
  cursor: pointer;
  opacity: 1;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  position: fixed;
  z-index: 20;
  right: 20px;
  bottom: 20px;
  background: #fff no-repeat center center;
  background-size: 60% 60%;
  background-image: url("../img/arrow-down.svg");
  transform: rotate(180deg);
  border-radius: 30px;
  border: 1px solid $color-title;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
}
.btn-up_hide {
  display: none;
}
.btn-up_hiding {
  opacity: 0;
}
