// Color
$color-base: #000;
$color-menu: rgba(34, 34, 34, 0.75);
$color-title: #3e3f43;
$color-section-name: rgba(34, 34, 34, 0.1);
$color-footer-category: #333333;
$color-footer-subcategory: #8d8d8d;
$color-button: #daa520;

// Title
%title-font {
  font-weight: 700;
  color: $color-title;
  position: relative;
}

%title-section--left {
  color: $color-title;
  font-size: 36px;
  line-height: 49px;
  text-align: left;
  padding-left: 38px;
}

%title-section--right {
  color: $color-section-name;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  text-transform: uppercase;
}

%footer-category {
  color: $color-footer-category;
  font-size: 18px;
  line-height: 25px;
}

%footer-subcategory {
  color: $color-footer-subcategory;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

%btn {
  background-color: $color-button;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border: none;
  box-sizing: 4px;
  padding: 14px 24px;
  text-align: center;
}
