@import "vars";
@import "reset";
@import "global";
@import "slick.scss";
// @import "libs";
// @import "fonts";

//?  Header --
.header {
  position: fixed;
  max-width: 1152px;
  height: 80px;
  margin: 0 auto 85px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 18;

  &__inner {
    padding: 24px 28px 24px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    flex: 0 0 193px;
    margin-right: 87px/982px * 100%;
  }
  &__burger {
    display: none;
  }
  &__btn {
    width: 137px;
    height: 40px;
    border-radius: 8px;
    margin-left: 24px;
  }
  &__btn-link {
    color: $color-title;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__list-link {
    display: block;
    color: $color-menu;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease 0s;
    margin: 0 1.35vw;
    position: relative;
    text-align: center;
  }
  &__list-link:hover {
    border-bottom: 2px solid $color-button;
  }
  &__list-link:active,
  &__list-link.active {
    font-weight: 800;
    color: $color-button;
  }
  &__list-link::before,
  &__list-link::after {
    content: attr(data-text) / "";
  }
  &__list-link::before {
    font-weight: 800;
    visibility: hidden;
  }
  &__list-link::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &__list-link:active::before {
    visibility: visible;
  }
  &__list-link:active::after {
    display: none;
  }
}

//? Section -- HOME
.home {
  padding-top: 100px;
  position: relative;
  & .container {
    position: relative;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-height: 720px;
    height: 100%;
    padding: 46px 0 65px;
  }
  &__content {
    flex: 0 0 50%;
    // Запрещаем этому блоку расширяться или уменьшаться и задаем размер на 50% ширины
    padding-top: 57px;
    width: 100%;
  }
  &__content-text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: calc(14px + 16 * (100vw / 1152));
    line-height: calc(16px + 24 * (100vw / 1152));
  }
  &__content-text span {
    font-weight: 700;
  }
  &__content-title {
    margin-bottom: 16px;
    font-weight: 700;
    // font-size: 72px;
    // line-height: 98px;
    // Адаптивный шрифт
    font-size: calc(20px + 40 * (100vw / 1152));
    line-height: calc(20px + 60 * (100vw / 1152));
  }
  &__content-btn {
    width: 175px;
    height: 50px;
    line-height: 40px;
  }
  &__img {
    display: block;
    flex: 0 0 60%;
    // Запрещаем блоку под картинку уменьшаться и увеличиваться
    position: relative;
    padding: 0 0 60.5% 0;
  }
  &__img::before {
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: -165px;
    width: 65%;
    height: 140%;
    border-bottom-left-radius: 120px;
    background-color: #f9bdbd;
    z-index: -2;
  }
  &__img::after {
    content: "";
    position: absolute;
    left: -62px;
    bottom: -50px;
    width: 70%;
    height: 68%;
    background-image: url("../img/flower.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &__img img {
    max-width: 100%;
    // max-width: 100%; - позволяем картинке уменьшаться при адаптации
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    right: -6px;
    object-fit: cover;
  }
}

//? Section -- About
.about {
  position: relative;
  & .container {
    position: relative;
  }

  &-top,
  &-button {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }
  &-top {
    margin-bottom: 43px;
  }
  &-top::before {
    content: "";
    position: absolute;
    left: -172px;
    top: 252px;
    max-width: 394px;
    width: 100%;
    max-height: 390px;
    height: 100%;
    background-image: url("../img/flower.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }
  &-top__img {
    flex: 0 1 45%;
    position: relative;
    padding-top: 41%;
  }
  &-top__img img {
    display: block;
    max-width: 100%;
    max-height: 388px;
    // max-width: 100%; - позволяем картинке уменьшаться при адаптации
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &-top__content {
    flex: 0 1 47%;
  }
  &-button__content {
    padding-left: 3px;
  }

  &-top__content-title,
  &-button__content-title {
    margin-bottom: 16px;
    font-weight: 600;
    // font-size: 36px;
    // line-height: 49px;
    font-size: calc(20px + 16 * (100vw / 1152));
    line-height: calc(25px + 24 * (100vw / 1152));
  }
  &-top__content-title span,
  &-button__content-title span {
    font-weight: 800;
  }
  &__content-top .about__content-title {
    color: $color-title;
  }
  &__content-top .about__content-title span:first-child {
    text-transform: uppercase;
  }
  &__content-button {
    max-width: 651px;
    width: 100%;
  }
  &-button__img {
    flex: 0 1 40%;
    position: relative;
    padding-top: 40%;
  }
  &-button__img img {
    display: block;
    max-width: 100%;
    max-height: 384px;
    position: absolute;
    width: auto;
    height: 100%;
    top: -2px;
    right: -98px;
    object-fit: cover;
  }
}

//? Section -- Works
.works {
  &-name {
    margin-bottom: 64px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    margin-bottom: 64px;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__num {
    font-size: 96px;
    line-height: 131px;
    color: rgba(249, 189, 189, 0.25);
    position: absolute;
    top: 24px;
    left: 20px;
  }
  &__img {
    width: 120px;
    height: 120px;
    margin-bottom: 24px;
    overflow: hidden;
  }
  &__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__stages {
    // font-size: 24px;
    // line-height: 33px;
    font-size: calc(18px + 6 * (100vw / 1152));
    line-height: calc(20px + 13 * (100vw / 1152));
    font-weight: 700;
    text-align: center;
    color: #000;
  }
  &__btn {
    display: block;
    margin: 0 auto;
  }
  &__btn .btn__link {
    display: block;
    padding: 14px 17px;
    line-height: 22px;
  }
}

//? Section -- CATEGORIES
.categories {
  &__inner {
    display: grid;
    grid-gap: 40px 57px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(328px, 1fr));
    justify-content: center;
    z-index: -4;
  }
  &__item {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
  }
  &__item:nth-child(1),
  &__item:nth-child(4),
  &__item:nth-child(3n + 4) {
    background-color: #f9bdbd;
  }
  &__item:nth-child(2),
  &__item:nth-child(3n + 2) {
    background-color: #f7dea6;
  }
  &__item:nth-child(3),
  &__item:nth-child(3n + 3) {
    background-color: #a8dcec;
  }
  &__item-name {
    margin: 24px 16px 26px;
    // Шрифт наследуется от body (можно не указывать здесь
    font-weight: 800;
    color: $color-title;
  }
  &__item-img:not(.categories__item:first-child .categories__item-img) {
    align-self: center;
    padding: 0 22px;
  }
  &__item:first-child .categories__item-img {
    padding-right: 34px;
    left: -16px;
  }
  &__item-img {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    // max-width: 246px;
    // max-height: 235px;
    max-width: 15.375em;
    max-height: 14.6875em;
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
  &__item-img::before {
    content: "";
    display: block;
    padding-top: 82%;
  }
  &__item-img img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    object-fit: cover;
    object-position: center;
  }
  &__item-btn {
    border-radius: 4px;
    align-self: flex-end;
    margin: 18px 16px 24px;
    padding: 3px 18px;
    z-index: 10;
  }
  &__item-link {
    // font-size: 18px;
    // line-height: 25px;
    font-size: calc(16px + 2 * (100vw / 1152));
    line-height: calc(20px + 7 * (100vw / 1152));
    color: $color-title;
    text-align: center;
    cursor: pointer;
  }
}

@import "media";
